<template>
  <div>
    <el-form :label-position="labelPosition" label-width="80px">
      <el-form-item label="活动名称">
        <div>{{form.title}}</div>
      </el-form-item>
      <el-form-item label="活动举办方">
        <div>{{form.organizeName}}</div>
      </el-form-item>
      <el-form-item label="活动地点" >
        <div style="display: flex;flex-direction: row;">
          {{form.address}}
          <el-button v-show="form.address=='线上'" style="height:40px;margin-left: 20px" @click="toScreen">连接视频</el-button>
        </div>
      </el-form-item>
      <el-form-item label="活动人数">
        <div>{{form.peopleNumber}}/{{form.maxNumber}}</div>
      </el-form-item>
      <el-form-item label="活动时间">
        <div>{{form.beginTime}}~{{form.endTime}}</div>
      </el-form-item>
      <el-form-item label="报名时间">
        <div>{{form.registrationStartTime}}~{{form.registrationEndTime}}</div>
      </el-form-item>
      <el-form-item label="活动类型">
        <el-radio-group v-model="form.type">
          <el-radio label="公益活动" value="1"></el-radio>
          <el-radio label="教育活动" value="2"></el-radio>
          <el-radio label="聚会活动" value="3"></el-radio>
          <el-radio label="相亲活动" value="4"></el-radio>
          <el-radio label="其他活动" value="5"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="活动描述">
        <el-input type="textarea" v-model="form.description" placeholder="请输入活动描述"></el-input>
      </el-form-item>
      <el-form-item label="活动封面">
        <img :src="form.img"/>
      </el-form-item>
      <el-form-item>
        <div style="width: 100%;display: flex;align-items: center;justify-content: center">
          <el-button @click="toBack">返回</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "ActivityDetail",
  data() {
    return {
      labelPosition:"top",
      form: {}
    }
  },
  mounted: function () {
    let id = this.$route.params.id
    let url = this.$store.state.config.url + "/findOneActivityById?activityId="+id
    let that = this;
    this.$axios.get(url).then((response) => {
      let form = response.data.data;
      form.organizeName = "上海交通大学"
      form.img = "https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3161577780,1190684069&fm=26&gp=0.jpg"
      that.form = form
    }).catch((error) => {
      console.log(error)
    })
  },
  methods: {
    toBack(){
      this.$router.back()
    },
    toScreen(){
      this.$router.push({path:"/FaceTime"})
    }
  }
}

</script>

<style>

</style>
