<template>
  <div>
    <div class="cards-container">
      <el-card @click.native="toPlaceDetail(index)" class="card-container2 draw-outline" :body-style="{ padding: '0px' }" v-for="(item,index) in this.$store.state.places":key="item.id" >
        <div class="content">
          <div class="image-container">
            <img :src="item.images[0]" class="image">
          </div>
          <div style="padding:3px 3px 3px 3px;width:350px">
            <div style="display: flex;flex-direction: row;margin-bottom: 15px">
              <div class="title">{{item.name}}</div>
              <div>
                <el-rate
                  v-model="item.points"
                  disabled
                  show-score
                  allow-half
                  text-color="#ff9900"
                  :colors="colors">
                </el-rate>
              </div>
            </div>
            <div style="display: flex;flex-direction: row">
              <div class="text">{{item.comments}}条评论</div>
              <div class="text">人均 ¥{{item.price}}</div>
            </div>
            <div style="display: flex;flex-direction: row">
              <div class="text">{{item.type}}</div>
              <div class="text">{{item.address}}</div>
            </div>
            <div class="label-container">
              <div class="label2" v-for="tag in item.labels" :key="tag"  >
                {{tag}}
              </div>
            </div>
          </div>
        </div>

      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "AllPlace",
  data() {
    return {
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']
    }
  },
  mounted: function () {

  },
  methods: {
    toPlaceDetail(index){
      this.$router.push({name:'placeDetail',params:{index:index}})
    }
  }
}

</script>

<style>
.cards-container{
  margin-top:30px;
  display: flex;
  flex-flow: row wrap;
}

.card-container2{
  margin-right: 30px;
  margin-bottom: 30px;
  width:700px;
  cursor:pointer;
  padding:20px
}

.card-container2 .content{
  display: flex;
  flex-display: row;
}

.card-container2 .image-container{
  width: 350px;
  height: 200px;
}

.card-container2 .image {
  width: 100%;
  height: 100%;
}

.card-container2 .title{
  font-size:20px;
  font-weight: bold;
  height:30px;
  line-height: 30px;
  padding-left:10px;
  margin-right: 15px;
}

.card-container2 .text{
  font-size: 15px;
  height:30px;
  line-height: 30px;
  padding-left: 10px;
  margin-right: 15px;
  color:#999999;
}

.card-container2 .label-container{
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  flex-display:row;
  flex-flow:wrap row;
}

.card-container2 .label2{
  line-height: 20px;
  font-size:12px;
  color:#fe5400;
  background-color: #eeeeee;
  border:1px solid #fe5400;
  margin-right: 10px;
  padding:3px;
  display: block;
  margin-bottom: 10px;
}

.draw-outline {
  box-shadow:inset 0 0 0 2px #000;
  color:#000;
  -webkit-transition:color 0.25s 0.125s;
  transition:color 0.25s 0.125s;
  position:relative;
}
.draw-outline::before,.draw-outline::after {
  border:0 solid transparent;
  box-sizing:border-box;
  content:'';
  pointer-events:none;
  position:absolute;
  width:0;
  height:0;
}
.draw-outline::before {
  top:0;
  right:0;
}
.draw-outline::after {
  left:0;
  bottom:0;
}
.draw-outline::after {
  border-top-width:2px;
  border-left-width:2px;
}
.draw-outline::before {
  border-bottom-width:2px;
  border-right-width:2px;
}
.draw-outline:hover {
  color:#00a0e9;
}
.draw-outline:hover::before,.draw-outline:hover::after {
  border-color:#00a0e9;
  -webkit-transition:border-color 0s,height 0.25s,width 0.25s;
  transition:border-color 0s,height 0.25s,width 0.25s;
  width:100%;
  height:100%;
}
.draw-outline:hover::before {
  -webkit-transition-delay:0s,0s,0.25s;
  transition-delay:0s,0s,0.25s;
}
.draw-outline:hover::after {
  -webkit-transition-delay:0.5s,0.5s,0.75s;
  transition-delay:0.5s,0.5s,0.75s;
}
</style>
