<template>
  <div>
    <div class="cards-container">
      <el-card @click.native="toActivityDetail(index)" class="card-container draw-outline" :body-style="{ padding: '0px' }" v-for="(item,index) in this.$store.state.activities":key="item.id" >
        <div class="image-container">
          <img :src="item.img" class="image">
        </div>
        <div style="padding:10px 3px 10px 3px;width:350px">
          <div class="title">{{item.title}}</div>
          <div class='author'>文 / {{item.launcherName}}</div>
          <div class='description'>{{item.description}}</div>
          <div class='time'>{{item.beginTime}}~{{item.endTime}}</div>
          <div class='label-container'>
            <div class="label" v-for="tag in item.labels" :key="tag" >
              {{tag}}
            </div>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
    import transform from "../common/transform"
    export default {
        name: "MyActivities",
        mounted: function () {
            let url = this.$store.state.config.url + "/findParticipateUserActivities"
            let that = this;
            this.$axios.get(url,{
                params:{
                    userId: 1
                }
            }).then((response) => {
                let activities = response.data.data;
                for(var i in activities){
                    if (transform.activityMap[activities[i].title]!=undefined){
                        activities[i].img = transform.activityMap[activities[i].title]
                    }
                    activities[i].labels = transform.getLabel(activities[i].description)
                }
                this.$store.state.activities = activities
            }).catch((error) => {
                console.log(error)
            })
        },
        methods: {
            toActivityDetail(index){
                this.$router.push({name:'activityDetail',params:{id:this.$store.state.activities[index].id}})
            }
        }
    }
</script>
<style>
  .cards-container{
    margin-top:30px;
    display: flex;
    flex-flow: row wrap;
  }

  .card-container{
    margin-right: 30px;
    margin-bottom: 30px;
    width:350px;
    cursor:pointer;
  }

  .card-container .time {
    font-size: 13px;
    color: #999;
  }

  .card-container .image-container{
    width: 350px;
    height: 200px;
  }

  .card-container .image {
    width: 100%;
    height: 100%;
  }

  .card-container .title{
    font-size:20px;
    font-weight: bold;
    height:30px;
    line-height: 30px;
    padding-left:10px;
  }

  .card-container .author{
    font-size:15px;
    height:25px;
    line-height: 25px;
    padding-left:10px;
  }

  .card-container .description{
    padding-left:10px;
    padding-right: 10px;
    font-size:13px;
    color:#a1a1a1;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
    height:80px;
  }

  .card-container .time{
    padding-left:10px;
    margin-top:15px;
    font-size:13px;
    color:#a1a1a1;
  }

  .label-container{
    display: flex;
    flex-flow:wrap row;
    padding: 5px 10px 5px 10px;
  }

  .label-container .label{
    height:25px;
    line-height: 25px;
    padding: 2px 10px 2px 10px;
    font-size:13px;
    font-weight: bold;
    color:white;
    background-color: #46c4f3;
    margin-right: 8px;
    border-radius: 30%;
  }

  .draw-outline {
    box-shadow:inset 0 0 0 2px #000;
    color:#000;
    -webkit-transition:color 0.25s 0.125s;
    transition:color 0.25s 0.125s;
    position:relative;
  }
  .draw-outline::before,.draw-outline::after {
    border:0 solid transparent;
    box-sizing:border-box;
    content:'';
    pointer-events:none;
    position:absolute;
    width:0;
    height:0;
  }
  .draw-outline::before {
    top:0;
    right:0;
  }
  .draw-outline::after {
    left:0;
    bottom:0;
  }
  .draw-outline::after {
    border-top-width:2px;
    border-left-width:2px;
  }
  .draw-outline::before {
    border-bottom-width:2px;
    border-right-width:2px;
  }
  .draw-outline:hover {
    color:#00a0e9;
  }
  .draw-outline:hover::before,.draw-outline:hover::after {
    border-color:#00a0e9;
    -webkit-transition:border-color 0s,height 0.25s,width 0.25s;
    transition:border-color 0s,height 0.25s,width 0.25s;
    width:100%;
    height:100%;
  }
  .draw-outline:hover::before {
    -webkit-transition-delay:0s,0s,0.25s;
    transition-delay:0s,0s,0.25s;
  }
  .draw-outline:hover::after {
    -webkit-transition-delay:0.5s,0.5s,0.75s;
    transition-delay:0.5s,0.5s,0.75s;
  }


</style>
