<template>
  <div>
    <el-form label-width="80px">
      <el-form-item label="姓名">
        <div>{{user.name}}</div>
      </el-form-item>
      <el-form-item label="机构">
        <div>{{user.organizeName}}</div>
      </el-form-item>
      <el-form-item label="地址">
        <div>{{user.addr}}</div>
      </el-form-item>
      <el-form-item label="手机">
        <div>{{user.phone}}</div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Person",
  data() {
    return {
      labelPosition:"top",
      user:{}
    }
  },
  mounted: function () {
    let user = this.$store.state.user
    user.organizeName = "上海交通大学"
    this.user = user

  },
  methods: {

  }
}

</script>

<style>

</style>
