<template>
  <div>
    <el-form :label-position="labelPosition" label-width="80px">
      <el-form-item label="场地名称">
        <div>{{form.name}}</div>
      </el-form-item>
      <el-form-item label="地址">
        <div>{{form.address}}</div>
        <div class="image-move-wapper">
          <div class="image-show-box" ref="imageShowBox">
            <div class="drag-container" ref="dragContainer" :style="'left:' + dragContainer.newPoint.left+'px; top:' + dragContainer.newPoint.top+'px'" @mousedown="DragContainerMouseDown">
              <div class="drag-image-box">
                <img :src="form.addrImg">
                <div class="point" style="left:10%; top:10%" @mousedown="PointMouseDown"></div>
              </div>
            </div>
          </div>
        </div>
      </el-form-item>
      <el-form-item label="电话">
        <div>{{form.phone}}</div>
      </el-form-item>
      <el-form-item label="最大人数">
        <div>{{form.maxNumber}}</div>
      </el-form-item>
      <el-form-item label="环境类型">
        <el-checkbox-group v-model="form.typee">
          <el-checkbox label="公益" value="1"></el-checkbox>
          <el-checkbox label="教育" value="2"></el-checkbox>
          <el-checkbox label="聚会" value="3"></el-checkbox>
          <el-checkbox label="相亲" value="4"></el-checkbox>
          <el-checkbox label="培训" value="5"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="环境图片">
        <div style="height:400px;width:700px">
          <el-carousel height="400px">
            <el-carousel-item v-for="item in form.images" :key="item.index">
              <div style="height: 400px;width: 700px">
                <img style="height: 400px;width: 700px" :src="item">
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </el-form-item>
      <el-form-item label="预约时间">
        <el-col :span="16">
          <el-calendar v-model="selectedDay">
            <template slot="dateCell" slot-scope="{date,data}">
              <div slot="reference" class="div-Calendar" @click="calendarOnClick(data)">
                <p :class="data.isSelected?'is-selected':''">
                  {{ Number(data.day.split('-').slice(2)[0]) }} {{ data.isSelected ? '✔️' : ''}}
                </p>
              </div>
            </template>
          </el-calendar>
        </el-col>
        <el-col :span="7">
          <div class="time-btn-container">
            <el-button v-for="(item,index) in availableTime" :key="item.time" :disabled="item.available" style="margin:10px 20px 10px 20px" @click="toPostActivity(index)">{{item.time+":00"}}</el-button>
          </div>
        </el-col>
      </el-form-item>
      <el-form-item>
        <div style="width: 100%;display: flex;align-items: center;justify-content: center">
          <el-button @click="toBack">返回</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "PlaceDetail",
  data() {
    return {
      selectedDay:new Date(),
      labelPosition:"top",
      availableTime:[],
      form:{
        typee:[]
      },
      dragContainer: {
        box: {
          w: 0,
          h: 0
        },
        point: {
          left: 0,
          top: 0
        },
        newPoint: {
          left: -300,
          top: -50
        }
      },
      mousePoint: {
        x: 0,
        y: 0
      },
      imageShowBox: {
        box: {
          w: 0,
          h: 0
        },
        dragcheck: {
          h: true,
          v: true
        }
      }
    }
  },
  created() {
    this.$nextTick(()=>{
      let nextBtn = document.querySelector(
        ".el-calendar__button-group .el-button-group>button:nth-child(3)"
      )
      nextBtn.addEventListener("click",()=>{
        this.updateAvailableTime()
      })
    })
  },
  mounted: function () {
    let index = this.$route.params.index
    let place = this.$store.state.places[index]
    this.form = place
    this.updateAvailableTime()
  },
  updated() {
    let _this = this;
    // 确保DOM元素已经渲染成功，然后获取拖拽容器和显示区域的大小
    _this.$nextTick(function() {
      _this.dragContainer.box = {
        w: _this.$refs.dragContainer.offsetWidth,
        h: _this.$refs.dragContainer.offsetHeight
      };

      _this.imageShowBox.box = {
        w: _this.$refs.imageShowBox.offsetWidth,
        h: _this.$refs.imageShowBox.offsetHeight
      };

      // 判断是否允许拖拽
      _this.imageShowBox.dragcheck = {
        h: _this.imageShowBox.box.w > _this.dragContainer.box.w ? false : true,
        v: _this.imageShowBox.box.h > _this.dragContainer.box.h ? false : true
      };
    });
  },
  methods: {
    updateAvailableTime(){
      var t = []
      for(var i=10;i<22;i++){
        var available=false
        if(Math.random()>0.5){
          available = true
        }
        t.push(
          {
            time:i,
            available:available
          }
        )
      }
      this.availableTime = t
    },
    toPostActivity(index){
      Date.prototype.clone=function(){
        return new Date(this.valueOf());
      }
      let beginTimeSec = this.selectedDay
      beginTimeSec.setHours(this.availableTime[index].time)
      beginTimeSec.setMinutes(0,0)
      let endTimeSec = beginTimeSec.clone()
      endTimeSec.setHours(this.availableTime[index].time+1)
      this.$router.push({
        name:'postActivity',
        params:{
          beginTimeSec:beginTimeSec,
          endTimeSec:endTimeSec,
          maxNumber:this.form.maxNumber,
          address:this.form.address
        }
      })
    },
    toBack(){
      this.$router.back()
    },
    DragContainerMouseDown(e) {
      const _this = this;
      // 记录鼠标点击时的初始坐标
      this.mousePoint = {
        x: e.clientX,
        y: e.clientY
      };
      _this.dragContainer.point = _this.dragContainer.newPoint;
      document.body.onmousemove = _this.DragContainerMouseMove;
      document.onmouseup = _this.DragContainerMouseUp;
      return false;
    },
    // 容器拖拽时触发
    DragContainerMouseMove(e) {
      const _this = this;
      // 鼠标偏移量 = 初始坐标 - 当前坐标
      let dx = e.clientX - _this.mousePoint.x;
      let dy = e.clientY - _this.mousePoint.y;

      // 获取拖拽容器移动后的left和top值
      if (_this.imageShowBox.dragcheck.h)
        var newx = dx > 0 ? Math.min(0, _this.dragContainer.point.left + dx) : Math.max(- _this.dragContainer.box.w + _this.imageShowBox.box.w, _this.dragContainer.point.left + dx );
      if (_this.imageShowBox.dragcheck.v)
        var newy = dy > 0 ? Math.min(0, _this.dragContainer.point.top + dy) : Math.max(- _this.dragContainer.box.h + _this.imageShowBox.box.h, _this.dragContainer.point.top + dy );

      _this.dragContainer.newPoint = {
        left: typeof newx != 'undefined' ? newx : _this.dragContainer.point.left,
        top: typeof newy != 'undefined' ? newy : _this.dragContainer.point.top
      };
      //console.log(_this.dragContainer.newPoint);
      return false;
    },
    // 移动完成  取消onmousemove和onmouseup事件
    DragContainerMouseUp(e) {
      document.body.onmousemove = null;
      document.onmouseup = null;
    },
    PointMouseDown(e) {
      //阻止事件冒泡
      e.stopPropagation();
    },
    calendarOnClick(e) {
      this.selectedDay = new Date(e.day)
      this.updateAvailableTime()
    },
  }
}

</script>

<style>
.image-move-wapper {
  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.image-show-box {
  height: 400px;
  width: 600px;
  cursor: move;
  overflow: hidden;
  position: relative;
}
.drag-container {
  position: absolute;
  left: 0px;
  top: 0;
  /*禁止元素选中*/
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
.drag-image-box {
  position: relative;
}
.point {
  position: absolute;
  background: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.is-selected {
  color: #1989FA;
}

.div-Calendar {
  height: 125px;
  box-sizing: border-box;
  padding: 8px;
}

.time-btn-container{
  display: flex;
  flex-flow: wrap row;
  padding:10px;
  width:100%
}
</style>
