<template>
  <div>
    <el-form ref="form" :label-position="labelPosition" :model="form" label-width="80px">
      <el-form-item label="场地名称">
        <el-input  v-model="form.name" id="name" placeholder="请输入场地名称"></el-input>
      </el-form-item>
      <el-form-item label="地址">
        <el-input v-model="form.address" id="address" placeholder="请输入地址"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="form.phone" id="phone" placeholder="请输入电话"></el-input>
      </el-form-item>
      <el-form-item label="最大人数">
        <el-input v-model="form.maxNumber" id="maxNumber" placeholder="请输入最大人数"></el-input>
      </el-form-item>
      <el-form-item label="预设人均">
        <el-input v-model="form.price" id="price" placeholder="请输入预设人均消费"></el-input>
      </el-form-item>
      <el-form-item label="环境类型">
        <el-checkbox-group v-model="form.typee">
          <el-checkbox label="公益" value="1"></el-checkbox>
          <el-checkbox label="教育" value="2"></el-checkbox>
          <el-checkbox label="聚会" value="3"></el-checkbox>
          <el-checkbox label="相亲" value="4"></el-checkbox>
          <el-checkbox label="培训" value="5"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="环境图片">
        <div class="upload-container">
          <el-upload
            ref = "uploadImage"
            style="width:100%"
            drag
            action="https://jsonplaceholder.typicode.com/posts/"
            multiple
            :before-upload="handleBeforeUpload"
            :before-remove="handleBeforeRemove"
            :file-list="fileList"
            list-type="picture">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </div>
      </el-form-item>
      <el-form-item>
        <div style="width: 100%;display: flex;align-items: center;justify-content: center">
          <el-button type="primary" @click="onCreate">创建</el-button>
          <el-button>取消</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "PostPlace",
  data() {
    return {
      labelPosition:"top",
      fileList:[],
      form:{
        name:"",
        address:"",
        phone:"",
        maxNumber: "",
        price:"",
        typee:[]
      }
    }
  },
  mounted: function () {

  },
  methods: {
    onCreate(){
      let form = this.form
      let images = []
      for (var i in this.fileList){
        images.push(this.fileList[i].url)
      }
      let type = ""
      for(var i in form.typee){
        type = type + " " + form.typee[i]
      }
      type = type.replace(/(^\s*)|(\s*$)/g,"");
      form.type = type
      form.images = images
      form.points = 5
      form.comments = 0

      this.$store.state.places.push(form)
      this.goPage("/allPlace")
    },
    goPage(url){
      if(this.$route.path!=url){
        this.$router.push({path:url})
      }
    },
    handleBeforeUpload(file) {
      let reader = new FileReader()
      reader.readAsDataURL(file)
      const _this = this
      reader.onloadend = function (e){
        file.url = reader.result
        _this.$refs.uploadImage.fileList.push(file)
      }
      return false
    },
    handleBeforeRemove(file,fileList){
      var file_index = fileList.indexOf(file)
      this.$refs.uploadImage.fileList.splice(file_index,1)
      return false
    },
  }
}

</script>

<style>
.upload-container /deep/ .el-upload {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  width: 100%;
}

.el-upload-dragger {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
</style>
