<template>
  <div >
    <el-form ref="form" :label-position="labelPosition" :model="form" label-width="80px">
      <el-form-item label="活动名称">
        <el-input  v-model="form.title" id="title" placeholder="请输入活动名称"></el-input>
      </el-form-item>
      <el-form-item label="活动地点">
        <el-input v-model="form.address" id="address" placeholder="请输入活动地点"></el-input>
      </el-form-item>
      <el-form-item label="最大人数">
        <el-input v-model="form.maxNumber" id="maxNumber" placeholder="请输入最大人数"></el-input>
      </el-form-item>
      <el-form-item label="活动时间">
        <el-col :span="11" style="margin-right: 30px">
          <el-date-picker :disabled="this.beginD" style="width: 100%;" v-model="form.beginTimeSec" type="datetime" placeholder="选择开始时间"></el-date-picker>
        </el-col>
        <el-col :span="11">
          <el-date-picker :disabled="endD" style="width: 100%;" v-model="form.endTimeSec" type="datetime" placeholder="选择结束时间"></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item label="报名时间">
        <el-col :span="11" style="margin-right: 30px">
          <el-date-picker style="width: 100%;" v-model="form.registrationStartTimeSec" type="datetime" placeholder="选择开始时间"></el-date-picker>
        </el-col>
        <el-col class="line" :span="2"> </el-col>
        <el-col :span="11">
          <el-date-picker style="width: 100%;" v-model="form.registrationEndTimeSec" type="datetime" placeholder="选择结束时间"></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item label="活动类型">
        <el-radio-group v-model="form.type">
          <el-radio label="公益活动" value="1"></el-radio>
          <el-radio label="教育活动" value="2"></el-radio>
          <el-radio label="聚会活动" value="3"></el-radio>
          <el-radio label="相亲活动" value="4"></el-radio>
          <el-radio label="其他活动" value="5"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="活动描述">
        <el-input type="textarea" v-model="form.desc" placeholder="请输入活动描述"></el-input>
      </el-form-item>
      <el-form-item label="活动封面">
        <div class="upload-container">
          <el-upload
            ref = "uploadImage"
            style="width:100%"
            drag
            action="https://jsonplaceholder.typicode.com/posts/"
            multiple
            :before-upload="handleBeforeUpload"
            :before-remove="handleBeforeRemove"
            :file-list="fileList"
            list-type="picture">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </div>
      </el-form-item>
      <el-form-item>
        <div style="width: 100%;display: flex;align-items: center;justify-content: center">
          <el-button type="primary" @click="onCreate">创建</el-button>
          <el-button @click="cancel">取消</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "PostActivity",
  data() {
    return {
      labelPosition:"top",
      fileList:[],
      beginD:false,
      endD:false,
      form: {
        title: '',
        address: '',
        launcherId: "1",
        organizeName: '上海交通大学',
        beginTimeSec: "",
        endTimeSec: "",
        registrationStartTimeSec: "",
        registrationEndTimeSec: "",
        type: '',
        desc: '',
        maxNumber: '',
        peopleNumber: 0
      }
    }
  },
  mounted: function () {
    if(this.$route.params.beginTimeSec!=undefined){
      this.beginD = true
      this.endD = true
      this.form.beginTimeSec = this.$route.params.beginTimeSec
      this.form.endTimeSec = this.$route.params.endTimeSec
      this.form.address = this.$route.params.address
      this.form.maxNumber = this.$route.params.maxNumber
    }
  },
  methods: {
    handleBeforeUpload(file) {
      let reader = new FileReader()
      reader.readAsDataURL(file)
      const _this = this
      reader.onloadend = function (e){
        file.url = reader.result
        _this.$refs.uploadImage.fileList.push(file)
      }
      return false
    },
    handleBeforeRemove(file,fileList){
      var file_index = fileList.indexOf(file)
      this.$refs.uploadImage.fileList.splice(file_index,1)
      return false
    },
    onCreate() {
      if(true){
        console.log(this.form)
        return
      }
      switch (this.form.type) {
        case "公益活动": this.form.type = 1;break;
        case "教育活动": this.form.type = 2;break;
        case "聚会活动": this.form.type = 3;break;
        case "相亲活动": this.form.type = 4;break;
        default: this.form.type = 5;break;
      }
      this.form.organizerId = "1";

      this.form.registrationStartTimeSec = new Date(this.form.registrationStartTimeSec).getTime();
      this.form.registrationEndTimeSec = new Date(this.form.registrationEndTimeSec).getTime();
      this.form.beginTimeSec = new Date(this.form.beginTimeSec).getTime();
      this.form.endTimeSec = new Date(this.form.endTimeSec).getTime();

      let url = this.$store.state.config.url+'/addOneActivity';
      let that = this;
      this.$axios.post(url,
        this.$qs.stringify(
          this.form
        )
      ).then((response) => {
        that.tableData = response.data.data;
        alert("创建成功！！！")
        this.goPage("/allActivities")
      }).catch((error) => {
        console.log(error)
      })
    },
    goPage(url){
      if(this.$route.path!=url){
        this.$router.push({path:url})
      }
    },
    cancel(){
      this.goPage("/allActivities")
    }
  }
}

</script>

<style>
.upload-container /deep/ .el-upload {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  width: 100%;
}

.el-upload-dragger {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
</style>
