<template>
  <div class="echarts-container">
    <v-chart :options="polar"/>
    <v-chart :options="datas" />
    <v-chart :options="polar2"/>
    <v-chart :options="datas2" />
  </div>
</template>

<script>
import ECharts from 'vue-echarts/components/ECharts.vue'
import 'echarts/lib/component/polar'
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/pie'
import 'echarts/lib/component/title'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
export default {
  name: "Statistic",
  components: {
    'v-chart': ECharts
  },
  data() {
    return {
      polar: {
        title : {
          text: '活动分布统计',
          x:'center'
        },
        tooltip : {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          show: true,
          orient: 'vertical',
          left: 'left',
          data: ['公益','教育','聚会','职场','其他']
        },
        series : [
          {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
              {value:235, name:'公益'},
              {value:510, name:'教育'},
              {value:1734, name:'聚会'},
              {value:435, name:'职场'},
              {value:70, name:'其他'}
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      },
      datas:{
        title: {
          left: 'center',
          text: '活动收益',
        },
        xAxis: {
          type: 'category',
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          data: [12200, 32134, 43901, 23934, 51290, 211330, 171320],
          type: 'line'
        }]
      },
      polar2: {
        title : {
          text: '人群分布统计',
          x:'center'
        },
        tooltip : {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          show: true,
          orient: 'vertical',
          left: 'left',
          data: ['高中生','本科生','研究生及以上','已工作','其他']
        },
        series : [
          {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
              {value:3235, name:'高中生'},
              {value:1510, name:'本科生'},
              {value:734, name:'研究生及以上'},
              {value:8435, name:'已工作'},
              {value:2170, name:'其他'}
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      },
      datas2:{
        title: {
          left: 'center',
          text: '场地收益',
        },
        xAxis: {
          type: 'category',
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          data: [820, 932, 901, 934, 1290, 1330, 1320],
          type: 'line'
        }]
      }
    }
  },
  mounted: function () {

  },
  methods: {

  }
}

</script>

<style>
.echarts {
  width: 100%;
  height: 100%;
}
.echarts-container{
  display: flex;
  flex-flow: row wrap;
}
</style>
