<template>
  <div>
    <div v-if="login.success===false" class="login-container">
      <el-form class="login-form" auto-complete="on" label-position="left">
        <el-form-item>
          <el-input
            placeholder="请填写用户名"
            name="loginName"
            type="text"
            v-model="login.name"
            auto-complete="on" />
        </el-form-item>
        <el-form-item >
          <el-input
            show-password
            placeholder="请填写密码"
            name="password"
            v-model="login.password"
            auto-complete="on"/>
        </el-form-item>
        <div>
          <el-button type="primary" style="width:100%;margin-bottom:30px;" @click="handleLogin">登陆</el-button>
        </div>
      </el-form>
    </div>


    <div v-else>
      <el-container style="border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
          <el-menu :default-openeds="['1','2','3']" :default-active="this.$route.path">
            <el-submenu index="1">
              <template slot="title"><i class="el-icon-school"></i>活动场地</template>
              <el-menu-item-group>
                <el-menu-item index="/allPlace" @click.native="goPage('/allPlace')">所有地址</el-menu-item>
                <el-menu-item index="/postPlace" @click.native="goPage('/postPlace')">发布地址</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="2">
              <template slot="title"><i class="el-icon-s-flag"></i>活动中心</template>
              <el-menu-item-group>
                <el-menu-item index="/allActivities" @click.native="goPage('/allActivities')">所有活动</el-menu-item>
                <el-menu-item index="/postActivity" @click.native="goPage('/postActivity')">发布活动</el-menu-item>
                <el-menu-item index="/myActivities" @click.native="goPage('/myActivities')">我的活动</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="3">
              <template slot="title"><i class="el-icon-s-custom"></i>个人中心</template>
              <el-menu-item-group>
                <el-menu-item index="/Person" @click.native="goPage('/Person')">个人信息</el-menu-item>
                <el-menu-item index="/Statistic" @click.native="goPage('/Statistic')">数据统计</el-menu-item>
                <el-menu-item index="/FaceTime" @click.native="goPage('/FaceTime')">视频</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-container>
          <el-header style="display: flex;flex-direction: row-reverse; font-size: 12px;">
            <div style="text-align: center;height: 60px;line-height:60px;width: 100px;font-size: 20px">
              {{this.$store.state.user.name}}
            </div>
            <div style="height: 100%;width:80px;display: flex;align-items: center">
              <el-image
                style="width: 50px; height: 50px; border-radius: 50%"
                :src="this.$store.state.user.avatar">
              </el-image>
            </div>
          </el-header>
          <el-main>
            <router-view/>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      login:{
        success:true,
        name:'',
        password:''
      },
      activeTab:"1-1"


    }
  },
  mounted: function () {
    let userId = 1
    let url = this.$store.state.config.url + "/findAllUsers"
    let that = this;
    this.$axios.get(url).then((response) => {
      let users = response.data.data;
      let user = {}
      for (var i in users){
        if(users[i].id == userId){
          user = users[i]
          user.avatar="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1608180166465&di=e21cef5be709995928fb31aeacb0909c&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201903%2F15%2F20190315004339_nWjPf.thumb.700_0.jpeg"
            that.$store.state.user = user
          break
        }
      }
    }).catch((error) => {
      console.log(error)
    })
  },
  methods: {
    handleLogin() {
      that.login.success = true
    },
    goPage(url){
      if(this.$route.path!=url){
        this.$router.push({path:url})
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>
